.container1 {
    display: grid;
    align-items: center; 
    grid-template-columns: .5fr 1fr 1fr;
    column-gap: 5px;
   }
   
   /* img {
     max-width: 100%;
     max-height:100%;
   }
    */
   .text {
     font-size: 70px;
   }

   .text-glow {
    color: #fff; /* Adjust the text color as needed */
    text-shadow: 0 0 10px rgb(104, 227, 229), 0 0 20px rgb(97, 173, 236), 0 0 30px rgb(71, 180, 224);
  }

  .price-tag {
    display: block;
    font-size: 16px;
    color: #3c3e40;
    margin-top: 10px;
    font-weight: 500;
    background-color: aliceblue;
  }
  
  .announcement-card {
    margin: 20px 0;
}
.announcement-card .card-body {
    padding: 20px;
}
.announcement-card .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}
.announcement-card .card-title {
    font-size: 1.25rem;
}
.announcement-card .author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.announcement-card .author img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.announcement-card .comment-box {
    margin-top: 20px;
}


.spinnerDot {
  width: 1rem;
  height: 1rem;
  border: 0.2em solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #007bff;
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}

.greenDot {
  width: 1rem;
  height: 1rem;
  background-color: green;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}



.section-title {
  position: relative;
  padding-bottom: 1.5rem; /* Adjust spacing as needed */
}

.try-now-link {
  position: absolute;
  right: 0;
  bottom: 6.5rem;
  font-size: 0.875rem; /* Adjust the size as needed */
  text-decoration: none;
  color: #007bff; /* Adjust the color as needed */
  white-space: nowrap; /* Prevent text from wrapping */
}

.try-now-link i {
  font-size: 0.75rem; /* Adjust the icon size as needed */
}

@media (max-width: 768px) {
  .section-title {
      position: static;
      text-align: center;
  }

  .try-now-link {
      position: static;
      display: inline-block;
      margin-top: 1rem; /* Add some space above the link */
      font-size: 0.75rem; /* Adjust the size for smaller screens */
  }
}


.icon-boundary {
  width: 80px;
  height: 80px;
  border: 2px solid #007bff; /* Adjust the color as needed */
  border-radius: 50%; /* Makes the boundary circular */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the icon boundary */
}

.tm-icon {
  color: #007bff; /* Adjust the icon color as needed */
}

